:root {
}
body {
  font-family: sans-serif;
  background: #ede7e0;
}
.btn {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  background-color: grey;
  margin: 10px;
  box-sizing: border-box;
}
