.banner {
  display: grid;
  grid-template-columns: 60% 40%;
  &__content {
    margin-top: 1rem;
    color: grey;
    &__display_text {
      font-size: 4rem;
      color: #000;

      span {
        color: rgb(255, 157, 45);
      }
    }
    &__review {
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        padding: 8px;
      }
    }
  }
  p {
  }
  .btn {
    background: rgb(16, 74, 16);
    margin: 0;
  }
  &__poster {
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    img {
      width: 70%;
    }
  }
}

@media screen and (max-width: 992px) {
  .banner {
    display: flex;

    &__content {
      &__display_text {
        font-size: 4rem;
      }
    }
    &__poster {
      display: none;
    }
  }
}

@media screen and (max-width: 786px) {
  .banner {
    &__content {
      &__display_text {
        font-size: 3.5rem;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .banner {
    &__content {
      &__display_text {
        font-size: 3rem;
      }
    }
  }
}
