.nav {
  display: flex;
  height: 70px;
  align-items: center;
  background-color: tomato;
  justify-content: space-between;
  &__brand {
    padding: 0 10px;
    &__link {
      color: #fff;
      font-weight: bolder;
      text-decoration: none;
      font-size: 1.2rem;
    }
  }
  &__menu {
    &__list {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      &__items {
        padding: 0 1rem;
        &__link {
          text-decoration: none;
          color: #fff;
          border-bottom: 1px solid transparent;
          &:hover {
            color: rgb(228, 162, 162);
            border-bottom: 1px solid rgb(228, 162, 162);
          }
        }
      }
    }
  }
  &__icons {
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    display: none;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .nav__icons {
    display: flex;
  }

  .nav__menu {
    background: tomato;
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    text-align: center;
    &__list {
      flex-direction: column;
      padding: 0;
      &__items {
        border-top: 1px solid #fff;
        padding: 10px;
      }
    }
  }
  .nav__menu.show {
    top: 70px;
  }
}
